{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td class = "col-picture">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}
                                   {% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                            </a>
                        </td>
                        <td class="name">{{ product.name }}</td>
                        <td class="cart-form">
                            {% load custom_tags %}
                            {% with cart_product_form=item.update_quantity_form quantity=quantities|key:product.id %}
                                {% include "shop/form_add.html" %}
                            {% endwith %}
                        </td>
                        <td class="num">₽{{ item.price }}</td>
                        <td class="num total-product-price">₽{{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="3"></td>
                <td class="num total-price">₽{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">
        Continue shopping
    </a>
    <a href="{% url 'orders:order_create' %}" class="button">
        Checkout
    </a>
</p>
{% endblock %}
{% block script %}
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'cart/js/update_cart.js' %}"></script>
{% endblock %}
