{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}" class="category-filter" data-slug="">
                    All
                </a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"
                    {% endif %}>
                    <a href="#" class="category-filter" data-slug="{{ c.slug }}">
                        {{ c.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main">
        <h1>
            Products
<!--            {% if category %}-->
<!--                {{ category.name }}-->
<!--            {% else %}-->
<!--                Products-->
<!--            {% endif %}-->
        </h1>
        <form method="get" action="{% url 'shop:product_list' %}" id="search-form">
            <input type="text" name="q" placeholder="Search products..." value="{{ query }}">
            <button type="submit">Search</button>
        </form>
        <form method="get" id="price-filter">
            {{ price_form.min_price }}
            {{ price_form.max_price }}
            <button type="submit">Применить</button>
        </form>
        <div class="product-list">
            {% include "shop/product/list_product.html" %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="{% static 'shop/js/add_to_cart.js' %}"></script>
    <script src="{% static 'shop/js/filter_product.js' %}"></script>
{% endblock %}
